* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

.game-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
}