* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.game-body {
    display: flex;
    justify-content: center;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

.game-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 20px;
}

.player-v-player, .player-v-cpu {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    cursor: pointer;
    gap: 10px;
}

.player-v-player span, .player-v-cpu span {
    font-weight: 700;
}

.player-v-player div, .player-v-cpu div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-v-player div p, .player-v-cpu div p {
    font-size: 28px;
}

.player-v-player div svg, .player-v-cpu div svg {
    height: 52px;
    width: 52px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form .input-fields {
    display: flex;
    gap: 15px;
}

form .input-fields input {
    display: block;
    font-size: 18px;
    padding: 4px 8px;
    border: 1px solid gray;
    border-radius: 4px;
}

.start-btn {
    padding: 8px 12px;
    font-size: 18px;
    width: 10%;
}